@model WorldTravelBlog.Models.Location

<html>
<head>
    <title>Location - Details</title>
</head>
<body>
    <h2>Location Details</h2>
    <hr />
        @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
		@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
        <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>